input,
textarea {
  &::placeholder {
    font-style: italic;
  }
}


a:not([href]):not([tabindex]) {
    color: #1194f6;
    text-decoration: none;
    cursor: pointer;
    
    &:hover {
        color: #1194f6;
        text-decoration: underline;
    }
}

label {
  color: rgba(0, 0, 0, 0.5);
}
